<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="user.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<header>
    <nav class="nav_bar">
        <div class="nav_logo">
            <img class="">Logo</img>
        </div>
        <div class="nav_header">
            <span>DFS Optimizer</span>
        </div>
        <div class="nav_options">
            <a>Home</a>
            <a>Lineups</a>
            <a>User</a>
            <a>Logout</a>
         </div>
        </nav>
</header>
<body>
    <h2>Hello [insert Users name]</h2>
    <table>
        <thead><th>User Settings</th></thead>
        <tbody>
        <tr>
            <td>
                <a><i class="fa-solid fa-user"></i>Edit User information <i class="fa-solid fa-arrow-right arrow"></i></a>
            </td>
        </tr>
        <tr>
            <td>
                <a><i class="fa-solid fa-lock"></i>Edit/Change Password<i class="fa-solid fa-arrow-right arrow"></i></a>
            </td>
        </tr>
        <tr>
            <td>
                <a><i class="fa-solid fa-download"></i>View Saved Lineups<i class="fa-solid fa-arrow-right arrow"></i></a>
            </td>
        </tr>
        <tr>
            <td>
                <a><i class="fa-solid fa-gears"></i>Manage Your Subscription<i class="fa-solid fa-arrow-right arrow"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</body>